
body {
	margin: 0px;
	padding: 0px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 32px; 
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.header-top { 
	display: inline-block;
	background-color: #3d546e;
	width: 100%;
	height: 42px;
	font-family: "Cuprum";
	font-size: 17px;
	font-weight: normal; 
	text-transform: none;
 }

 .header-top a {
 	font-family: "Cuprum";
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
 }

.tehnomart-top-button {
	background-color: #ee3643;
	width: 356px;
	height: 100%; 
}

.icon {
	fill-color: #6a7180;;
}

.order-button {
	width: 150px;
	height: 100%;
	background-color: #63a63e;
    color: white;
}


.search-form-block,
.basket,
.bookmarks {
	display: block;
}

.search-form-block, 
.bookmarks { 
	background-color: #3d546e;
}

.search-form-block { 
	width: 150px;
	height: 100%;
}

.bookmarks {
	width: 150px;
	height: 100%;
}

.basket  {
	display: block;
	width: 150px;
	height: 100%;
	background-color: #ee3643;
}

 input {  
	font-family: "Cuprum";
	font-size: 17px;
	font-weight: 400;
	color: white;
	background-color: #3d546e; 
}

.search-label::before {
  content: "";
  background-image: url("./img/svg/icon-search.svg");
  position: absolute;
  width: 17px;
  height: 17px;
  fill-color: #6a7180; 
}

.header-bottom p {

	 font-family: "Cuprum";
	 font-size: 16px;
	 font-weight: normal; 
	 font-style: italic;
	 text-transform: none;
	 color: #ee3643;
}

.open-buttons {
	display: block;
}

.open-buttons::before {
	content: "";
	background-image: url("./img/svg/icon-login.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}


.contact-button {
	display: block;
}

.contact-button::before {
	content: "";
	background-image: url("./img/svg/icon-phone.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}

 .item-gallery {
	background-image: url("./img/jpg/main_photo_620-266.jpg");
	background-repeat: no-repeat;
	width: 620px;
	height: 266px;
}


.social-links li {
	list-style-type: none
}

.user-links li {
	list-style-type: none
}

.top-nav li {
	list-style-type: none
}

.user-button {
	display: block;
}

.user-name::before {
	content: "";
	background-image: url("./img/svg/icon-user.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}

.user-name::after {
	content: "";
	background-image: url("./img/svg/icon-login.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}

.range-container {
	width: 100%; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('./img/svg/filter-button.svg');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: url('./img/svg/filter-button.svg');
    cursor: pointer;
}

input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked), input[type="radio"]:checked, input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.bottom-nav li {
	list-style-image: url('./img/svg/icon-right-small.svg');
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.form-write-us {
	display: none;
}

.map-window {
	display: none;
}

.write-us-window {
	display: none;

}

.service-card-credit {
	display: none;

}

.service-card-garanty {
	display: none;

}