
body {
	margin: 0px;
	padding: 0px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px; 
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.header-top { 
	background-color: #3d546e;
	width: 100%;
	height: 42px;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: normal; 
	text-transform: none;

 }

.main-container {
	display: flex;
	justify-content: space-between;
	width: 940px;
	height: inherit;
	margin: 0 auto;
	padding: 0 0;

}

.left-container {
	display: flex;
	width: 440px;
	justify-content: flex-start;
}

.right-container {
	display: flex;
	width: 500px;
	justify-content: flex-end;

}

 .header-top a,
 .tehnomart-bottom-button a,
 .order-button a {
 	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
 }


.tehnomart-top-button,
.tehnomart-bottom-button {
	background-color: #ee3643;
	width: 220px;
	height: inherit; 
	text-align: center;
	padding-top: 10px;
 }

.tehnomart-top-button:hover {
	background-color: #ca2c37;
}

.tehnomart-top-button:active {
	background-color: #ba2732;
}


.order-button {
	display: block;
	width: 150px;
	height: inherit; 
	background-color: #63a63e;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.order-button:active {
	background-color: #518534;
}

.order-button:active a{
	color: #999ca1;
}

.top-forms {
	display: block;
	background-color: #3d546e;
	height: inherit; 
	margin-right: 0px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}

.top-forms:hover,
.top-forms:hover input   {
	background-color: #212a3a;
}

.top-icon svg path {
	position: absolute;
	fill: #6a7180;
	stroke: #6a7180;
}

.bookmarks:active,
.basket:active {
	background-color: #161d29;
}

.bookmarks:active a,
.basket:active a {
	color: #999ca1;
}


.search-form-block { 
	width: 50px;
	margin-left: 0px;
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;
}

.search-form:active, 
.search-form:active input {
	background-color: #ffffff;
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;
}

.search-form:active top-icon {
	fill: #ee3643;
	stroke: #ee3643;
}


/*.bookmarks-link::before {
  content: "";
  background-image: url("./img/svg/icon-bookmark.svg");
  display: inline-block;
  height: 17px;
  width: 17px;
  position: absolute;
  vertical-align: middle;
  fill-color: #6a7180;

}*/


/*.basket-link::before {
  content: "";
  background-image: url("./img/svg/icon-cart.svg");
  display: inline-block;
  height: 17px;
  width: 17px;
  position: absolute;
  vertical-align: middle;
  fill-color: #6a7180;

}*/

.bookmarks:hover a,
.basket:hover a {
	fill-color: #ffffff;
}



.search-label::before {
  content: "";
  background-image: url("./img/svg/icon-search.svg");
  position: absolute;
  width: 17px;
  height: 17px;
  fill-color: #6a7180; 
}

.header-bottom {
	display: flex;
	background-color: #f2f6f8;
	width: 100%;
	height: 280px;
	margin: 0 0;
}


.header-container {
	display: flex;
	width: 940px;
	height: 220px;
	margin: 0 auto;
	flex-direction: column;
	align-items: flex-start;
} 

.second-header {
	justify-content: space-between;
	display: flex;
	width: 940px;
	height: 220px;
	margin: 0 auto;
}

.top-nav {
	display: flex;
	justify-content: space-between;
}

.header-bottom p {

	 font-family: Arial, serif;
	 font-size: 16px;
	 font-weight: 400; 
	 font-style: italic;
	 text-transform: none;
	 color: #ee3643;
}

.contact-button {
	display: block;
	width: 70px;
	height: 270px;
	background-color: inherit;
	font-family: Cuprum;
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
	color: #32425c;
}

.phone-button {
	display: block;
	width: 100%;
	height: 46px;
	border-width: 4px;
	border-color: #ffffff;
	
}

.phone-button a {
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #ee3643;
}


.open-buttons {
	display: block;
	height: 46px;
	background-color: #ffffff; 

}

.open-buttons a { 
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;

}

.open-buttons:hover .open-link {
	fill: #32425c;
	stroke: #32425c;
}

.open-buttons:hover a {
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #ee3643;
}



.open-buttons:active a {
	font-family: Cuprum;
    font-size: 21px;
    font-weight: 400; 
    font-style: normal;
	color: #b2b2b2;
}

 
/*.open-buttons::before {
	content: "";
	background-image: url("./img/svg/icon-login.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}*/


 

/*.contact-button::before {
	content: "";
	background-image: url("./img/svg/icon-phone.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}*/

.top-nav, .footer-top, .footer-bottom { 
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #3d546e; 
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
}

.nav-item { 
	display: block;  
	height: 100%; 
	background-color: #3d546e; 
	font-family: Cuprum;
    font-size: 17px;
    font-weight: 400; 
    font-style: normal;
	color: #ffffff;
}

.nav-item a, .bottom-nav a { 
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
}

.nav-item:hover {
	background-color: #293449;
}

.nav-item:active {
	background-color: #1d2739;
}

.nav-item:active a {
	background-color: #868c95;
}

.middle-container {
	display: flex;
	width: 940px;
	min-height: 1330px;
	margin-top: 60px;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: flex-start;
}

.card-top {
	display: flex;
	width: 100%;
}

.bottom-cards {
	display: flex;
	width: 100%;
}

.right-cards {
	display: flex;
	width: 300px;
	flex-direction: column;
	align-items: flex-start;
}




.item-category {
	display: block;
	width: 300px;
	height: 124px;
}

.card-button {
	display: block;
	width: 136px;
	height: 40px;
	background-color: #e5e5e5;
	border-radius: 2px;
}

.card-button:hover {
	background-color: #cccccc;
}

.card-button:active {
	background-color: #b2b2b2;
}

.card-button a { 
	font-family: Cuprum;
    font-size: 14px; 
    font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.main-button {
	background-color: #ee3643;
}

.main-button:hover {
	background-color: #ca2c37;
}

.main-button:active {
	background-color: #ba2732;

} 

.materials { 
	background-color: #ffbf47;
}

.tool { 
	background-color: #3bbce3;
}

.technic { 
	background-color: #dc91d8;
}

.discount { 
	background-color: #8ed78f;
}

.moving { 
	background-color: #ffc047;
}

.item-category h3 {
	font-family: Cuprum;
    font-size: 24px; 
    font-style: normal;
    font-weight: 700;
	color: #ffffff;
	text-transform: none;
}
 
 .item-gallery { 
	width: 620px;
	height: 266px; 
	background-image: url("/img/jpg/main_photo_620-266"); 
	background-repeat: no-repeat;
 
}

.item-gallery h3 {
	font-family: Cuprum;
    font-size: 36px; 
    font-style: normal;
    font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.item-gallery span { 
	font-family: Cuprum;
    font-size: 18px; 
    font-style: normal;
    font-weight: 400;
	color: #ffffff;
	text-transform: none;
}
 
.item-gallery a { 
	font-family: Cuprum;
    font-size: 14px; 
    font-style: normal;
    font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
}


.main-card-button { 
	display: block;
	width: 200px;
	height: 40px;
	background-color: #ee3643;
}

.main-card-button a { 
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}
 
.all-popular-items,
.all-popular-makers {
	width: 100%;
	height: 90px;
	background-color: #f9f5f0;
	
}

.all-popular-items h2,
.all-popular-makers h2 {
	font-family: Cuprum;
    font-size: 30px; 
    font-style: normal;
	color: #32425c;
	text-transform: uppercase; 
}

.popular-cards {
	display: flex;
	width: 100%;
	justify-content: space-between;

}

.makers1,
.makers2 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.about-button {
	display: block;
	width: 253px;
	height: 40px;
	background-color: red;
}

/*.popular-makers-button {
	display: block;
	width: 253px;
	height: 40px;
	background-color: red;
}*/


.about-button a {
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}

/*.popular-makers-button a {
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
	text-transform: uppercase;
}*/

.product-card {
	display: block;
	width: 220px;
	height: 318px;
	border-style: solid;
	border-color: #eaeaea;
	border-width: 1px;
}

.product-card a {
	font-family: PT Sans;
    font-size: 18px; 
    font-style: normal;
	font-weight: 700;
	color: #424242;
 
}

.product-card span {
	color: #aaaaaa;
	text-transform: uppercase;
	text-decoration: line-through;
}

.product-card button {
	font-family: PT Sans;
    font-size: 18px; 
    font-style: normal;
	font-weight: 700;
	color: #ffffff;
	background-color: red;
}

.maker-card {
	display: block;
	width: 220px;
	height: 144px;
	border-style: solid;
	border-color: #eaeaea;
	border-width: 1px;
}

.services {
	display: flex;
	background-color: #f2f6f8;
	width: 100%;
	height: 280px;
}

.services p {
	font-family: PT Sans;
    font-size: 13px;
    font-weight: 400; 
    font-style: normal;
	color: #32425c;
} 

.services h2 {
	font-family: Cuprum;
    font-size: 30px; 
    font-style: normal;
	color: #000000;
	text-transform: uppercase; 
}


.services h3 {
	font-family: Cuprum;
    font-size: 36px; 
    font-style: normal;
	color: #32425c;
	text-transform: uppercase; 
}

.service-list {
	display: flex;
	background-color: #ffffff;
	width: 240px;
	height: 189px;
}

.service-list h3 {
	font-family: Cuprum;
    font-size: 21px; 
    font-style: normal;
    font-weight: 700;
	color: #32425c;
	text-transform: uppercase; 
}
 
 .service-point {
 	display: block;
	background-color: #ffffff;
	width: 100%;
	height: 63px;

 }

 .garanty-point,
 .credit-point {
 	background-color: #32425c;
 }

.garanty-point h3,
.credit-point h3{
 	color: #ffffff;
 }

.service-card h3 {
	font-family: Cuprum;
    font-size: 36px; 
    font-style: normal;
	color: #32425c;
	text-transform: uppercase; 
}

.service-card p {
	font-family: PT Sans;
    font-size: 13px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;
}

.service-card label {
	font-family: PT Sans;
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase; 
	color: #ffffff;
}
  	
.service-card input {
	width: 196px;
	height: 40px;
	background-color: #ff5357;
	border-radius: 5px;
}

.about h2 {
	font-family: Cuprum;
    font-size: 30px; 
    font-style: normal;
	color: #000000;
	text-transform: uppercase; 

}

.about p {
	font-family: PT Sans;
    font-size: 13px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;

}

.about li {
	font-family: Cuprum;
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
	color: #000000;
}

.transport-companies {
	list-style-image: url("./img/svg/transprot-list-icon.svg");
}

.way-button {
	width: 100%;
} 


.map-image {
	border-radius: 5px; 
}

/*.footer-top, .footer-bottom { 
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #ffffff;
}*/

.category-nav a,
.footer-bottom a  { 
	font-family: Cuprum;
    font-size: 17px; 
    font-style: normal;
	color: #f1c77e;
}


.user-links li {
	list-style-type: none;
}

.top-nav li {
	list-style-type: none;
}

.social-links {
	display: block;
	background-color: #212a3a;
}

.user-button {
	display: block;
}

.user-name::before {
	content: "";
	background-image: url("./img/svg/icon-user.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}

.user-name::after {
	content: "";
	background-image: url("./img/svg/icon-login.svg");
	position: absolute;
	width: 22px;
	height: 22px;
}

.range-container {
	width: 100%; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url("./img/svg/filter-button.svg");
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: url("./img/svg/filter-button.svg");
    cursor: pointer;
}

input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked), input[type="radio"]:checked, input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.bottom-nav li {
	list-style-image: url("./img/svg/icon-right-small.svg");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.form-write-us {
	display: none;
}

.map-window {
	display: none;
}

.write-us-window {
	display: none;

}

.credit-card {
	display: none;

}

.garanty-card {
	display: none;

}