
.item-gallery {
	background-image: url("./img/jpg/main_photo_620-266.jpg");
	background-repeat: no-repeat;
	width: 620px;
	height: 266px;
}

.search-form:before {
  content: "";
  background-image: url("./img/svg/icon-search.svg");
}

.bookmarks-link:before {
  content: "";
  background-image: url("./img/svg/icon-bookmark.svg");
}

.basket-link:before {
  content: "";
  background-image: url("./img/svg/icon-cart.svg");
}


